services:
  - type: web
    name: email-classifier-api
    env: python
    rootDir: python-service
    buildCommand: |
      set -e
      echo "--- Installing Dependencies ---"
      python -m pip install --upgrade pip setuptools wheel
      python -m pip install -r ../requirements.txt --no-cache-dir
      echo "--- Build complete ---"

    startCommand: |
      echo "--- Starting Email Classifier API ---"
      gunicorn classifier_api:app --timeout 120 --preload --bind 0.0.0.0:$PORT

    envVars:
      - key: PIP_ONLY_BINARY
        value: "scikit-learn"
